@media screen and (min-width:320px){

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
  }

  
  .container2 a {
        
        display: none;
  }
  .container2 a:hover {
        border: 1px solid red;
        background-color: red;
        border-radius: 10px;
        color: white;
  }

  .container3 button {
            padding: 15px;
            background-color: red;
            color: white;
            border-radius: 13px;
            font-weight: 600;
            list-style: none;
  }

  .banner {
    padding: 18px;
    background-color: whitesmoke;
    
}
.banner2 {
    
  /* display: flex; */
}
.banner3 {
    
  padding: 12px;
  margin-top: 1rem;
}
.banner3 h1 {
    
   font-size: 3rem;
  
}
.banner3 p {
    
  text-align:center;
  margin-left: 2rem;
}
.banner4 img {
     
   width: 280px;
   height: 300px;
   margin-top: 2rem;
}

.banner5 {
             
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin-top: -1rem; */
    margin-left: 10px;
    padding: 10px;
}

.banner6 button {
      
      padding: 15px;
      background-color: red;
      color: white;
      border-radius: 12px;
      font-style: italic;
      font-weight: 600;
      border-style: none;
}

.banner7 button {
      
    padding: 15px;
    background-color: white;
    color: red;
    border-radius: 12px;
    font-style: italic;
    font-weight: 700;
    border-style: none;
    font-size: 1rem;
    margin-right: -1rem;
}



.container-about1 img {
     
      width: 350px;
      height: 400px;
}


.container-about2 iframe {
     width: 100%;
     height: 14rem;
     margin-right: -2rem;
}
.container-about2 p {
   
  text-align: left;
  line-height: 1.5;
  margin-left: 1rem;
}
.container-about2 li {
    
   text-align: left;
   line-height: 2;
   list-style-type: square;
   font-size: 1rem;
   
}
.about {
   margin-top: 6rem;
}
.about span {
   color: red;
}
.about h3 {
   opacity: 0.8;
}

.container-cards {
                 
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: whitesmoke;
    padding: 1rem;
    gap: 2rem;
    margin-left: 1rem;
}
.container-cards1 {
      
     text-align: center;
     border: 1px solid red;
     background-color: red;
     color: white;
     width: 18rem;
     height: 15rem;
     border-radius: 10px;

}
.container-cards2 {
      
     text-align: center;
     border: 1px solid white;
     background-color: white;
     width: 18rem;
     height: 19rem;
     margin-top: 1rem;
     box-shadow: 1px 0px 0px 1px;
     border-radius: 10px;
}
.container-cards2 h5 {
               
    font-size: 2rem;
    color: white;
    border: 1px solid red;
    width: 3rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: rgb(253, 7, 7);
}

.our-clients {
              
    /* display: flex; */
    /* justify-content: space-evenly; */
    border: 1px solid wheat;
    padding: 10px;
    margin-top: 2rem;
    /* background-image: url(""); */
   
}
.our-clients:hover {
     
     border: 1px solid red;
     color: white;
     background-color: red;
}

.container-foods2 h1 {
                
    font-style:italic;
    font-size: 3rem;
}

.container-foods2 span {

    color: red;
}
.container-foods {
               
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 2rem;
    /* justify-content: space-evenly; */
    margin-top: 2rem;
}
.container-foods1 img {
     
      width: 300px;
      height: 300px;
}
.container-foods1 {
      
  margin-top: 2rem;
  text-align: center;
}

.container-teams2 h1 {
                
    font-style:italic;
    font-size: 3rem;
}

.container-teams2 span {

    color: red;
}
.container-foods p {

     font-size: 20px;
     opacity: 0.8;
}
.container-foods1 h1 {
       
      color: red;
}
.container-teams {
     
     /* display: flex; */
     /* flex-wrap: wrap; */
     /* justify-content: space-evenly; */
     padding: 10px;
}

.container-teams img {
        
       width: 300px;
       height: 350px;
       border-radius: 10px;
       margin-top: 2rem;
}


.carousel img {
    padding: 10px;
  width: 78%;
  height: 15rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 2rem;
}

.carousel12 h1 {

  font-size: 3rem;
  font-style: italic;
  
}
.carousel12 span {
   
   color: red;
}
.frame iframe {
       
       width: 100%;
       height: 20rem;
}
.container-details1 {
     
    /* display: flex; */
    /* flex-wrap: wrap; */
    border: 1px solid black;
    width: 100%;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 1px 0px 0px 1px;
    margin-top: 2rem;
}
.details1 {
   
   font-size: 1rem;
   color: red;

}
.details2 {
   
   text-align: center;
}

.cont-frame {
               
    font-size: 23px;
    font-style: italic;
}
.cont-frame span {

     color: red;
}

.container-inform {
               
    /* padding: 1rem; */
    border: 1px solid black;
    width: 89%;
    height: 28rem;
    margin-left: 1rem;
    /* margin-left: 2rem; */
    margin-top: 2rem;
    box-shadow: 2px 0px 0px 2px;
}
.infrom label {
     
    margin-right: 17rem;
    font-weight: 700;
}
.infrom input {
      
     width: 17rem;
     height: 2rem;
     margin-top: 1rem;
}
.infrom textarea {
      
     width: 17rem;
}

.infrom1 button {

    margin-top: 1rem;
       padding: 10px;
       width: 10rem;
       background-color: red;
       color: white;
       font-weight: 800;
       border-radius: 20px;
}
.footer {
              
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;
    opacity: 0.8;
}
.footer1 {
      
     color: white;
}
.footer {
              
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 1rem; */
    background-color: black;
    opacity: 0.8;
    margin-top: 2rem;
    gap: 2rem;
}
.footer1 {
      
     color: white;
}


}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
@media screen and (min-width:768px){

             
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
  }

  
  .container2 {
       display: flex;
  }
  .container2 a {
    
        display: block;
        padding: 13px;
        text-decoration: none;
        color: black;
  }
  .container2 a:hover {
        border: 1px solid red;
        background-color: red;
        border-radius: 10px;
        color: white;
  }

  .container3 button {
            padding: 15px;
            background-color: red;
            color: white;
            border-radius: 13px;
            font-weight: 600;
            list-style: none;
  }

  .banner {
    padding: 18px;
    background-color: whitesmoke;
    
}
.banner2 {
    
  display: flex;
}
.banner3 {
    
  padding: 14px;
  margin-top: 2rem;
}
.banner3 h1 {
    
   font-size: 3rem;
  
}
.banner3 p {
    
  text-align: left;
  margin-left: 2rem;
}
.banner4 img {
     
   width: 330px;
   height: 330px;
   margin-top: 4rem;
}

.banner5 {
             
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 3rem;
    margin-top: -2rem;
    margin-left: 6rem;
}

.banner6 button {
      
      padding: 15px;
      background-color: red;
      color: white;
      border-radius: 12px;
      font-style: italic;
      font-weight: 600;
      border-style: none;
}

.banner7 button {
      
    padding: 15px;
    background-color: white;
    color: red;
    border-radius: 12px;
    font-style: italic;
    font-weight: 700;
    border-style: none;
    font-size: 1rem;
    margin-right: -1rem;
}

.container-about {
              
    /* display: flex; */
    gap: 1rem;
    padding: 3rem;
    /* margin-top: 1rem; */
}

.container-about1 img {
     
      width: 600px;
      height: 500px;
}

.container-about2 {
      
 padding: 2rem;
 margin-top: -2rem;
}
.container-about2 p {
   
  text-align: left;
  line-height: 1.5;
}
.container-about2 li {
    
   text-align: left;
   line-height: 1.5;
   list-style-type: square;
   font-size: 1rem;
   
}
.container-about2 iframe {
       
       width: 330;
       height: 300;
}
.about {
   margin-top: 6rem;
}
.about span {
   color: red;
}
.about h3 {
   opacity: 0.8;
}

.container-cards {
                 
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: whitesmoke;
    padding: 5rem;
    gap: 2rem;
    margin-left: 1rem;
}
.container-cards1 {
      
     text-align: center;
     border: 1px solid red;
     background-color: red;
     color: white;
     width: 38rem;
     height: 15rem;
     border-radius: 10px;

}
.container-cards2 {
      
     text-align: center;
     border: 1px solid white;
     background-color: white;
     width: 38rem;
     height: 13rem;
     margin-top: 1rem;
     box-shadow: 1px 0px 0px 1px;
     border-radius: 10px;
}

.container-cards2 h5 {
               
    font-size: 2rem;
    color: white;
    border: 1px solid red;
    width: 3rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: rgb(253, 7, 7);
}
.our-clients {
              
    display: flex;
    justify-content: space-evenly;
    border: 1px solid wheat;
    padding: 10px;
    /* background-image: url(""); */
   
}
.our-clients:hover {
     
     border: 1px solid red;
     color: white;
     background-color: red;
}
.container-foods2 h1 {
                
    font-style:italic;
    font-size: 3rem;
}
.container-foods2 span {

    color: red;
}
.container-foods {
               
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.container-foods1 img {
     
      width: 300px;
      height: 300px;
}
.container-teams2 h1 {
                
    font-style:italic;
    font-size: 3rem;
}

.container-teams2 span {

    color: red;
}
.container-foods1 {
      
  margin-top: 2rem;
  text-align: center;
}
.container-foods p {

     font-size: 20px;
     opacity: 0.8;
}
.container-foods1 h1 {
       
      color: red;
}

.container-teams {
     
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 10px;
}

.container-teams img {
        
       width: 340px;
       height: 350px;
       border-radius: 10px;
       margin-top: 2rem;
}

.carousel img {
    padding: 10px;
  width: 80%;
  height: 30rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: 2rem;
}

.carousel12 h1 {

  font-size: 3rem;
  font-style: italic;
  
}
.carousel12 span {
   
   color: red;
}

.container-details {
                 
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    gap: 3rem;
}
.container-details1 {
     
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 45%;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 1px 0px 0px 1px;
}
.details1 {
   
   font-size: 1rem;
   color: red;

}
.details2 {
   
   text-align: left;
}
.frame iframe {

    width: 90%;
    height: 25rem;
    border-radius: 20px;
}
.cont-frame {
               
    font-size: 25px;
    font-style: italic;
}
.cont-frame span {

     color: red;
}

.container-inform {
               
    padding: 2rem;
    border: 1px solid black;
    width: 83%;
    height: 28rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.infrom label {
     
    margin-right: 40rem;
    font-weight: 700;
}
.infrom input {
      
     width: 40rem;
     height: 2rem;
     margin-top: 1rem;
}
.infrom textarea {
      
     width: 40rem;
}

.infrom1 button {

    margin-top: 1rem;
       padding: 10px;
       width: 13rem;
       background-color: red;
       color: white;
       font-weight: 800;
       border-radius: 20px;
}
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
@media screen and (min-width:1024px){


        .container {
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 14px;
        }

       
        .container2 {
              display: flex;
        }
        .container2 a {
              display:flex;
              display: block;
              padding: 15px;
              text-decoration: none;
              color: black;
        }
        .container2 a:hover {
              border: 1px solid red;
              background-color: red;
              border-radius: 10px;
              color: white;
        }

        .container3 button {
                  padding: 15px;
                  background-color: red;
                  color: white;
                  border-radius: 13px;
                  font-weight: 600;
                  list-style: none;
        }
         
        .banner {
              padding: 18px;
              background-color: whitesmoke;
              
        }
        .banner2 {
              
            display: flex;
        }
        .banner3 {
              
            padding: 14px;
            margin-top: 9rem;
        }
        .banner3 h1 {
              
             font-size: 3rem;
            
        }
        .banner3 p {
              
            text-align: left;
            margin-left: 3rem;
        }
        .banner4 img {
               
             width: 500px;
             height: 500px;
             margin-top: 2rem;
        }
        .banner5 {
             
             display: flex;
             align-items: center;
             gap: 3rem;
             margin-top: -8rem;
             margin-left: 10rem;
             padding: 10px;
        }

        .banner6 button {
               
               padding: 18px;
               background-color: red;
               color: white;
               border-radius: 12px;
               font-style: italic;
               font-weight: 600;
               border-style: none;
        }

        .banner7 button {
               
            padding: 18px;
            background-color: white;
            color: red;
            border-radius: 12px;
            font-style: italic;
            font-weight: 700;
            border-style: none;
            font-size: 1rem;
            margin-right: -1rem;
        }
        .banner7 a {
              
            padding: 15px;
            background-color: white;
            color: red;
            border-radius: 12px;
            font-size: 2rem;
            margin-right: -1rem;
            margin-top: 3px;
        }
        
        .container-about {
              
               display: flex;
               gap: 1rem;
               padding: 3rem;
               /* margin-top: 1rem; */
        }

        .container-about1 img {
                
                 width: 550px;
                 height: 600px;
        }

        .container-about2 {
                 
            padding: 2rem;
        }
        .container-about2 p {
              
             text-align: left;
             line-height: 1.5;
        }
        .container-about2 li {
               
              text-align: left;
              line-height: 2;
              list-style-type: square;
              font-size: 1rem;
              
        }
        .about {
              margin-top: 6rem;
        }
        .about span {
              color: red;
        }
        .about h3 {
              opacity: 0.8;
        }
        .container-cards {
                 
               display: flex;
               flex-wrap: wrap;
               background-color: whitesmoke;
               padding: 5rem;
               gap: 2rem;
               margin-left: 1rem;
        }
        .container-cards1 {
                 
                text-align: center;
                border: 1px solid red;
                background-color: red;
                color: white;
                width: 22rem;
                height: 23rem;
                border-radius: 10px;

        }
        .container-cards2 {
                 
                text-align: center;
                border: 1px solid white;
                background-color: white;
                width: 16rem;
                height: 20rem;
                margin-top: 1rem;
                box-shadow: 1px 0px 0px 1px;
                border-radius: 10px;
        }
        .container-cards2 h5 {
               
              font-size: 2rem;
              color: white;
              border: 1px solid red;
              width: 3rem;
              margin: auto;
              margin-top: 1rem;
              border-radius: 10px;
              background-color: rgb(253, 7, 7);
        }
        .our-clients {
              
              display: flex;
              justify-content: space-evenly;
              border: 1px solid wheat;
              padding: 10px;
              /* background-image: url(""); */
             
        }
        .our-clients:hover {
               
               border: 1px solid red;
               color: white;
               background-color: red;
        }
        .container-foods2 h1 {
                
              font-style:italic;
              font-size: 3rem;
        }
        .container-foods2 span {

                color: red;
        }
        .container-foods {
               
              display: flex;
              flex-wrap: wrap;
              padding: 2rem;
              justify-content: space-evenly;
              margin-top: 2rem;
        }
        .container-foods1 img {
               
                width: 400px;
                height: 300px;
        }
        .container-foods1 {
                
            margin-top: 2rem;
            text-align: center;
        }
        .container-foods p {

               font-size: 20px;
               opacity: 0.8;
        }
        .container-foods1 h1 {
                 
                color: red;
        }
        .container-teams2 h1 {
                
            font-style:italic;
            font-size: 3rem;
        }
        
        .container-teams2 span {
        
            color: red;
        }
        .container-teams {
               
               display: flex;
               flex-wrap: wrap;
               justify-content: space-evenly;
               padding: 10px;
        }

        .container-teams img {
                  
                 width: 340px;
                 height: 350px;
                 border-radius: 10px;
        }

        .carousel img {
                padding: 10px;
              width: 80%;
              height: 30rem;
              margin: auto;
              margin-top: 3rem;
              border-radius: 2rem;
        }

        .carousel12 h1 {

              font-size: 3rem;
              font-style: italic;
              
        }
        .carousel12 span {
               
               color: red;
        }
        .container-details {
                 
               display: flex;
               flex-wrap: wrap;
               padding: 2rem;
               margin-left: 5rem;
               gap: 3rem;
        }
        .container-details1 {
                
               display: flex;
               flex-wrap: wrap;
               border: 1px solid black;
               width: 45%;
               align-items: center;
               gap: 1rem;
               border-radius: 2rem;
               box-shadow: 1px 0px 0px 1px;
        }
        .details1 {
              
              font-size: 2rem;
              color: red;
              margin-left: 1rem;
        }
        .details2 {
              
              text-align: left;
        }
       
        .cont-frame {
               
               font-size: 30px;
               font-style: italic;
        }
        .cont-frame span {

                color: red;
        }
        .frame iframe {

               width: 90%;
               height: 30rem;
               border-radius: 20px;
        }

        .container-inform {
               
              padding: 2rem;
              border: 1px solid black;
              width: 92%;
              height: 28rem;
              margin-left: 1rem;
        }
        .infrom label {
               
              margin-right: 56rem;
              font-weight: 700;
        }
        .infrom input {
                
               width: 60rem;
               height: 2rem;
               margin-top: 1rem;
        }
        .infrom textarea {
                
               width: 60rem;
        }

        .infrom1 button {

            margin-top: 1rem;
               padding: 10px;
               width: 13rem;
               background-color: red;
               color: white;
               font-weight: 800;
               border-radius: 20px;
        }
        .footer {
              
             display: flex;
             justify-content: space-around;
             padding: 1rem;
             background-color: black;
             opacity: 0.8;
        }
        .footer1 {
               
              color: white;
        }






}